{% extends "@FOSUser/layout.html.twig" %}

{% block css %}
    
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/site.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/container.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/grid.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/image.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/menu.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/divider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/segment.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/form.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/input.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/button.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/list.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/message.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/components/icon.css') }}">
    {{ parent() }}
    
{% endblock %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <form class="ui large form" action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <div class="field">
        <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" placeholder="Username" required="required">
        </div>
        </div>
        <div class="field">
        <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required="required">
        </div>
        </div>
        <label for="remember_me" style="display:none">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked="chedked"/> {{ 'security.login.remember_me'|trans }}
        </label>
        <input type="submit" id="_submit" name="_submit" class="ui fluid large teal submit button" value="{{ 'security.login.submit'|trans }}" />
        {% if error %}
            <div class="ui pointing red basic label">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
            <script>alert("For test use admin/admin")</script>
        {% endif %}
        <br/>
        <div class="ui error message"></div>
    </form>

    <!-- <div class="ui message">
        New to us? <a href="#">Sign Up</a>
    </div> -->
{% endblock fos_user_content %}

{% block javascripts %}
<script src="{{ asset('assets/components/form.js') }}"></script>
<script src="{{ asset('assets/components/transition.js') }}"></script>
<script>
     $('.ui.form')
        .form({
            fields: {
            email: {
                identifier  : 'email',
                rules: [
                {
                    type   : 'empty',
                    prompt : 'Please enter your e-mail'
                },
                {
                    type   : 'email',
                    prompt : 'Please enter a valid e-mail'
                }
                ]
            },
            password: {
                identifier  : 'password',
                rules: [
                {
                    type   : 'empty',
                    prompt : 'Please enter your password'
                },
                {
                    type   : 'length[4]',
                    prompt : 'Your password must be at least 4 characters'
                }
                ]
            }
            }
        });
</script>
{% endblock %}

