{% extends 'fixed.html.twig' %}

{% block title %}Admin Console{% endblock %}

{% block css %}
{{ parent() }}

<style type="text/css">
    body {
        background-color: #FFFFFF;
    }
    .main.container {
        margin-top: 7em;
    }
    .item:hover{
        {#cursor: pointer;#}
    }
    a{
        color : initial;
    }
    #no-doc{
        text-align: center;
    }
</style>

{% endblock %}

{% block body %}
{{ parent() }}

<div class="ui main container">
    <div class="ui cards container stackable centered">
        <div id="untagged" class="ui large middle aligned divided list animated">
            
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    SERVICE_URL = "{{ path('service_untagged') }}";
    FILE_URL = "{{ path('admin_file',{fileId : 'FILEID'}) }}";
    PREDICT_URL = "{{ path('service_predict',{fileId : 'FILEID'}) }}";
</script>
<script src="{{ asset('assets/admin/untagged.js') }}"></script>
{% endblock %}