{% extends 'fixed.html.twig' %}

{% block title %}Admin Console{% endblock %}

{% block css %}
{{ parent() }}

<style type="text/css">
    body {
        background-color: #FFFFFF;
    }
    .ui.menu .item img.logo {
        margin-right: 1.5em;
    }
    .main.container {
        margin-top: 7em;
    }
    .choose-tag .ui.dropdown{
        margin-bottom: 25px;
    }
    .actions{
        margin-top: 50px;
    }
</style>

{% endblock %}

{% block body %}
{{ parent() }}

<div class="ui main container">
    <div class="ui cards container stackable centered">
        <div class="ui center aligned header">{{ filename }}</div>
        <table class="ui celled padded table">
        <thead>
            <tr>
                <th class="single line">Paragraph ID</th>
                <th>Content</th>
                <th>Words</th>
                <th style="text-align: center;">Action</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
        </table>
    </div>
</div>
<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Choose tags
    </div>
    <div class="content choose-tag">
        {% for category in categories %}
            <div class="ui text header {{ category.category_color }}">{{ category.category_name }}</div>
            <select class="ui fluid search dropdown" multiple="" color="{{ category.category_color }}">
                <option value="">State</option>
                {% for tag in category.tags %}
                    <option value="{{ tag.tag_name }}">{{ tag.tag_name }}</option>
                {% endfor %}
            </select>
        {% endfor %}
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive right labeled icon button">
            Save
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    SERVICE_URL = "{{ path('service_untagged_file',{fileId : 'FILEID'}) }}";
    FILE_ID = {{ fileId }}
</script>
<script src="{{ asset('assets/admin/file.js') }}"></script>
{% endblock %}