{% extends 'base.html.twig' %}

{% block title %}Admin Console{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/components/reset.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('assets/components/site.css') }}">

<link rel="stylesheet" type="text/css" href="{{ asset('assets/components/container.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('assets/components/grid.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('assets/components/header.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('assets/components/image.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('assets/components/menu.css') }}">

<link rel="stylesheet" type="text/css" href="{{ asset('assets/components/divider.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('assets/components/list.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('assets/components/segment.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('assets/components/dropdown.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('assets/components/icon.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('assets/components/popup.css') }}">
<style>
    .ui.menu.fixed{
        {% if background_image_color is defined %}
            background: {{ background_image_color }}
        {% endif %}
    }
    .ui.menu .item img#site-logo.logo {
        {#margin-right: 0.5em;#}
    }
    .ui.menu .item > img:not(.ui){
        width: 5.5em;
    }
    a{
        color: initial;
    }
</style>
{% endblock %}

{% block body %}
<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="{{ path('admin') }}" class="header item">
            <img id="site-logo" class="logo" src="{{ asset('assets/images/logo.png') }}">
            {#TaggerBot#}
        </a>
        <div id="admin-main-menu" class="ui simple dropdown item">
            Tools <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{{ path('admin_upload') }}"><i class="building icon"></i>School</a>
                <a class="item" href="{{ path('admin_upload') }}"><i class="upload icon"></i>Upload</a>
                <a class="item" href="{{ path('admin_tag') }}"><i class="edit icon"></i>Categories</a>
                <a class="item" href="{{ path('admin_doc') }}"><i class="file text outline icon"></i>Untagged</a>
                <a class="item" href="{{ path('admin_train') }}"><i class="checkmark box icon"></i>Review tag</a>
                <a class="item" href="{{ path('admin_train') }}"><i class="database icon"></i>Train</a>
                <a class="item" href="{{ path('admin_dashboard') }}"><i class="line chart icon"></i>Dashboard</a>
                {#<a class="item" href="{{ path('admin_setting') }}"><i class="setting icon"></i>Setting</a>
                <div class="divider"></div>
                <div class="header">Quick feature</div>
                <div class="item">
                    <i class="dropdown icon"></i>
                    Quick tag
                    <div class="menu">
                        <a class="item" href="#"><i class="cubes icon"></i>Classification</a>
                        <a class="item" href="#"><i class="cube icon"></i>Clustering</a>
                    </div>
                </div>#}
            </div>
        </div>
        <div class="ui item top right pointing dropdown">
            Hi, {{ app.user }}
            <div class="menu">
                <div class="item"><i class="remove circle icon red"></i><a class="ui" href="{{ path('fos_user_security_logout') }}">Logout</a></div>
            </div>
        </div>
        {#<a href="{{ path('fos_user_security_logout') }}" class="item right ui" title="Log out">
            Hi, {{ app.user }}
        </a>#}
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/components/popup.js') }}"></script>
<script>
    $('.ui.dropdown').dropdown();
</script>
{% endblock %}