{% extends 'fixed.html.twig' %}

{% block title %}School management{% endblock %}

{% block css %}
{{ parent() }}

<link rel="stylesheet" type="text/css" href="{{ asset('assets/admin/main.css') }}">
<style type="text/css">
    body {
        background-color: #FFFFFF;
        {% if background_image is defined %}
            background-image: url('{{ background_image }}');
        {% endif %}
    }
    .main.container {
        margin-top: 5em;
    }
    #school-container,
    #map{
        margin: 5px;
        width: 540px;
        display: inline-block;
        vertical-align: top;
        height: 540px;
    }
    #school-list{
        overflow-y: auto;
        height: 490px;
    }
    #map{
        
    }
    #school-button-container{
        text-align: right;
    }
    button .icon{
        margin: 0px !important;
    }
    #school-list .item:hover{
        cursor: pointer;
    }
    #delete-school-modal.ui.modal{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    #edit-map{
        width: 450px;
        height: 365px;
        padding-right: 15px;
    }
    #input-school-detail{
        height: 4em !important;
        min-height: 4em !important;
    }
    #map-remark{
        font-size: 0.8em;
    }
    .ui.pagination.menu{
        float: left;
    }
</style>

{% endblock %}

{% block body %}
{{ parent() }}
<div class="ui main container">
    <div id="school-container">
        <div id="school-list" class="ui middle aligned divided list">
            
        </div>
        <div id="school-button-container">
            <div class="ui pagination menu">
                
            </div>
            <button id="add-school" class="ui green button" onclick="addSchool()">Add</button>
        </div>
    </div>
    <div id="map"></div>
    <div id="delete-school-modal" class="ui basic modal">
        <div class="ui icon header">
            <i class="trash outline icon"></i>
            <div id="delete-school-content">Delete school?</div>
        </div>
        <div class="content">
            <p>Are you sure you want to remove this school?</p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            cancel
            </div>
            <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Yes
            </div>
        </div>
    </div>
    <div id="edit-school-modal" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            <div id="edit-school-name">School information</div>
        </div>
        <div class="image content">
            <div id="edit-map"></div>
            <div class="description">
            <div class="ui header">School information</div>
                <form class="ui form">
                    <div class="field">
                        <label>Name</label>
                        <div class="field">
                            <input id="input-school-name" placeholder="School name" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <label>Location</label>
                        <div class="field">
                            <input id="input-school-location" placeholder="School location" type="text">
                        </div>
                    </div>
                    <label>Contact</label>
                    <div class="two fields">
                        <div class="field">
                            <input id="input-school-tel" placeholder="tel no." type="text">
                        </div>
                        <div class="field">
                            <input id="input-school-website" placeholder="www.school.com" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <label>Detail</label>
                        <textarea id="input-school-detail" placeholder="More detail" ></textarea>
                    </div>
                    <label id="map-remark">*Move a map so that red plus sign matches school location.</label>
                </form>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
            Cancel
            </div>
            <div id="input-school-id" class="ui positive right labeled icon button">
                <span>Update</span>
                <i class="checkmark icon"></i>
            </div>
        </div>
        </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://api.longdo.com/map/?key=a6052df7ce7016f7eefb7315fd76fff1"></script>
<script>
    var SCHOOL_PIN = "{{ asset('assets/images/school-pin.png') }}";
    var SERVICE_URL = "{{ path('service_get_schools') }}";
    var SERVICE_DELETE_URL = "{{ path('service_delete_school',{id : 'SCHOOLID'}) }}";
    var SERVICE_UPDATE_URL = "{{ path('service_update_school',{id : 'SCHOOLID'}) }}";
    var SERVICE_ADD_URL = "{{ path('service_add_school') }}";
</script>
<script src="{{ asset('assets/admin/school.js') }}"></script>
{% endblock %}
