{% extends 'fixed.html.twig' %}

{% block title %}Admin Console{% endblock %}

{% block css %}
{{ parent() }}

{#<link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap.min.css') }}">#}
<link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap-tagsinput.css') }}">
<style type="text/css">
    body {
        background-color: #FFFFFF;
    }
    .main.container {
        margin-top: 7em;
    }

    .bootstrap-tagsinput .tag {
        margin-right: 2px;
        color: white;
        background: gray;
    }
    .label-info{
        background-color: #5bc0de;
    }
    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-weight: 700;
        line-height: 2.3;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        padding: .5em;
    }
    .bootstrap-tagsinput{
        width: 100%;
        padding: 4px;
    }
    .main.container .item .category-name{
        
    }
    .ui.tag.label{
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .ui.input {
        font-weight: bold;
    }
    .remove-category{
        font-size: 1.2em;
    }
    .remove-category:hover{
        cursor:pointer;
    }
    .ui.list .item.tag-block{
        padding-top: 1em;
    }
    #no-category{
        text-align: center;
        padding: 20px;
    }
</style>

{% endblock %}

{% block body %}
{{ parent() }}

<div class="ui main container">
    <div class="ui cards container stackable centered">
        <div id="add-category" class="ui button loading" style="float:right;"><i class="add icon"></i> Add category</div>
        <div class="ui text header" style="margin: 20px 0;">Current tag structure</div>        
        <div class="ui list"></div>
        <a href="{{ path('admin') }}"><div id="cancel-category" class="ui button red" style="float:right;"><i class="cancel icon"></i> Cancel</div></a>
        <div id="save-category" class="ui button teal" style="float:right;"><i class="save icon"></i> Save</div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    SERVICE_URL = "{{ path('service_tag_structure') }}";
    SERVICE_URL_UPDATE= "{{ path('service_tag_structure_update') }}";
</script>
<script src="{{ asset('assets/bootstrap-tagsinput.min.js') }}"></script>
<script src="{{ asset('assets/admin/tag.js') }}"></script>
{% endblock %}