{% extends 'fixed.html.twig' %}

{% block title %}Admin Console{% endblock %}

{% block css %}
{{ parent() }}

<style type="text/css">
    body {
        background-color: #FFFFFF;
    }
    .main.container {
        margin-top: 7em;
    }
    .item:hover{
        cursor: pointer;
    }
    i.icon{
        font-size: 1.5em;
        vertical-align: bottom !important;
    }
</style>

{% endblock %}

{% block body %}
{{ parent() }}

<div class="ui main container">
    <div class="ui cards container stackable centered">
        <div class="ui large middle aligned divided list animated">
            <div class="item">
                <div class="right floated content">
                <div class="ui button blue" onclick="buildTextCorpus(this)">Build</div>
                </div>
                <i class="icon book"></i>
                <div class="content">
                Build text corpus for training
                </div>
            </div>
            <div class="item">
                <div class="right floated content">
                <div class="ui button green" onclick="trainAll(this)">Train</div>
                </div>
                <i class="icon wizard"></i>
                <div class="content">
                Train all possible tags
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    SERVICE_TRAIN_URL = "{{ path('service_train_all') }}";
    SERVICE_CORPUS_URL = "{{ path('service_corpus') }}";
</script>
<script src="{{ asset('assets/admin/train_all.js') }}"></script>
{% endblock %}